html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
}
h1{
  text-align: center;
}
.nav ul{
  display: flex;
  justify-content: space-between;
  background-color: #00ff3d;
  color: #fcfcfc;
}
.nav ul li{
  list-style: none;
  padding: 1px 1px;
  font-size: 25px;
  color: white;
}
.nav ul{
  list-style: none;
  padding: 1px;
  

}
.nav ul li a{
  color: white;
  text-decoration: none;
  font-family: 'Noto Sans Display', sans-serif; 
}
.item1{
  position: absolute;
  height: 150px;
    width: 100px;
    top: 200px;
  left: 20px;
}
.top{
  background-color: black;
  color: white;
  font-weight: bold;
}
.max{
  position: absolute;
  font-weight: bold;
  top: 200px;
  left: 130px;
  font-family: 'Noto Sans Display', sans-serif;
}
.pr{
  position: absolute;
  top: 250px;
  left: 200px;
  color: white;
  background-color: black;
  border: 3px solid white;
}


